*{
    padding: 0%;
    margin: 0%;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.section-heading{
    text-align: center;
    margin: 5%;
}

.section-heading h1{
    color: white;
}

li{
    display: inline;
    padding: 0.5%;
    margin-right: 1%;
    font-weight: 500;
}

.list-items{
    text-align: right; 
}

.list-items li a {
     text-decoration: none;
     font-size: 18px;
     color: whitesmoke;
}

.list-items li a:hover {
    color: #ff365a;
}

.logo{
    height: 50px;
    margin: 1px 15px 15px 10px;
    padding: 13px;
    float: left;
    position: relative;
  }

.todo-project{
    box-sizing: border-box;
    width: 300px;
    height: 150px;
    padding: 50px;
    border: 1px solid none;
    background-color: #111111;
    text-align: center;
    margin-bottom: 15px;
}

.projects{
    display: flex;
    justify-content: space-around
}